<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동대멋사 14기 백엔드 세션</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <img src="{% static 'images/icon-logo.png' %}" alt="로고" class="logo">
{#            <div class="brand-name">멋쟁이사자처럼</div>#}
        </div>
        <div class="header-right">
            <img src="{% static 'images/icon-bell-orange.png' %}" alt="알림아이콘" class="icon"></img>
            <img src="{% static 'images/icon-search-orange.png' %}" alt="검색아이콘" class="icon"></img>
        </div>
    </header>
    {% include 'shared/_navbar.html' %}

    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>
