{% load static %}

<nav class="nav">
    <div class="nav-item {% if request.resolver_match.url_name == 'mainpage' %}active{% endif %}">
        <a class="nav-item" href="{% url 'main:mainpage' %}">
            <div class="nav-icon">
                <img src="{% static 'images/icon-food.png' %}" class="nav-icon-img">
            </div>
            <span class="nav-label">홈</span>
        </a>
    </div>

    <div class="nav-item {% if request.resolver_match.url_name == 'blogpage' %}active{% endif %}">
        <a class="nav-item" href="{% url 'main:blogpage' %}">
            <div class="nav-icon">
                <img src="{% static 'images/icon-book.png' %}" alt="게시판 아이콘" class="nav-icon-img">
            </div>
            <span class="nav-label">게시판</span>
        </a>
    </div>
</nav>