{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="detail-wrapper">

    <div class="detail-header">
        <h1>{{ blog.title }}</h1>
    </div>

    <div class="detail-footer">
        <span>작성자: {{ blog.writer }}</span>
        <span>작성일: {{ blog.pub_date }}</span>
    </div>

    <div class="detail-body">
        <p>{{ blog.content }}</p>
    </div>

    <div class="detail-actions">
        <a href="{% url 'main:edit' blog.id %}" class="btn-outline">수정</a>
        <a href="{% url 'main:delete' blog.id %}" class="btn-danger">삭제</a>
        <a href="{% url 'main:blogpage' %}" class="btn-primary">목록으로</a>
    </div>

</div>
{% endblock %}
