{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-wrapper">
    <form action="{% url 'main:create' %}" method="post">
        {% csrf_token %}
        <div class="form-title">블로그 글 작성</div>

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" required></textarea>
        </div>

        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" id="writer" name="writer" required>
        </div>

        <div class="form-group">
            <label for="pub_date">작성일</label>
            <input type="date" id="pub_date" name="pub_date" required>
        </div>

        <button type="submit">블로그 생성</button>
    </form>
</div>
{% endblock %}
